@model OtelRezervasyon.Models.SendMessageViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UserLayout.cshtml";
}


<div class="contact">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage">
                <h2>Bizimle İletişime Geç</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form id="request" class="main_form" method="post" asp-action="Index" asp-controller="Contact">
                <div class="row">
                    <div class="col-md-12 ">
                        <input class="contactus" placeholder="Adınız" type="type" asp-for="Name">
                    </div>
                    <div class="col-md-12">
                        <input class="contactus" placeholder="Mail Adresiniz" type="type" asp-for="Email">
                    </div>
                    <div class="col-md-12">
                        <textarea class="textarea" placeholder="Mesajınız." type="type" asp-for="Message">Message</textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="send_btn">Gönder</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="map_main">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Am6_-AIIjJmZQ8oPaE8HQC1qgVRywBI&ehbc=2E312F" width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
