@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")


<body class="main-layout">
    <div class="loader_bg">
        <div class="loader"><img src="~/keto-1.0.0/images/loading.gif" alt="#" /></div>
    </div>

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")

    <!-- end banner -->
    <!-- about -->
    @await Component.InvokeAsync("_AboutUILayoutComponentPartial")
    <!-- end about -->
    <!-- our_room -->
    @await Component.InvokeAsync("_OurRoomUILayoutComponentPartial")
    <!-- end our_room -->
    @RenderBody()

    <!-- gallery -->
    @await Component.InvokeAsync("_GalleryUILayoutComponentPartial")

    <!-- end gallery -->
    <!-- end blog -->
    <!--  contact -->
    @await Component.InvokeAsync("_ContactUILayoutComponentPartial")

    <!-- end contact -->
    <!--  footer -->
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

    <!-- end footer -->
    <!-- Javascript files-->

</body>
</html>


