<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class=" col-md-4">
                    <h3>İletişim</h3>
                    <ul class="conta">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Adres</li>
                        <li><i class="fa fa-mobile" aria-hidden="true"></i> Telefon Numarası</li>
                        <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> EMail Adresi</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Menu Link</h3>
                    <ul class="link_menu">
                        <li><a href="#">Ana Sayfa</a></li>
                        <li><a href="about.html"> Hakkımızda</a></li>
                        <li><a href="room.html">Odalarımız</a></li>
                        <li><a href="gallery.html">Galeri</a></li>
                        <li><a href="contact.html">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>News letter</h3>
                    <form class="bottom_form">
                        <input class="enter" placeholder="Enter your email" type="text" name="Mail Adresiniz">  
                        <button class="sub_btn">Üye Olun</button>
                    </form>
                    <ul class="social_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <p>
                            © 2024 Her Hakkı Saklıdır Design by <a href="https://html.design/"> Free Html Templates</a>
                            <br><br>
                            Distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>